div.logo-container img {
    display: none;
    height: 46px;
    background-color: grey;
    width: 100%
}

div.logo-container::after {
    content: url(/packages/thelounge-theme-socialdotlol/prami.svg);
    width: 80px;
    display: block; /* somehow fixes sizing */
}
